.text-area {
	-fx-font-size: 16;
    -fx-font-family: Consolas;
    -fx-font-weigh: bold;
    /*-fx-highlight-fill: null;*/
	/*-fx-highlight-text-fill: null;*/
}


.text-area .scroll-pane {
	/*[ never | always | as-needed ] */
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

#flightAreaGridPane {
    -fx-font-size: 16;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
}

.NFZLabel {
    -fx-font-weight: bold;
}

.FirefightingHelicopter {
    -fx-text-fill: DARKRED;
    -fx-font-weight: bold;
}

.PassengerHelicopter {
    -fx-text-fill: DARKBLUE;
    -fx-font-weight: bold;
}
.TransportHelicopter {
    -fx-text-fill: DARKGREEN;
    -fx-font-weight: bold;
}
.FirefightingPlane {
    -fx-text-fill: ORANGERED;
    -fx-font-weight: bold;
}
.PassengerPlane {
    -fx-text-fill: DEEPSKYBLUE;
    -fx-font-weight: bold;
}

.TransportPlane {
    -fx-text-fill: LAWNGREEN;
    -fx-font-weight: bold;
}

.Drone {
    -fx-text-fill: DARKMAGENTA;
    -fx-font-weight: bold;
}

.MilitaryFighterPlane {
    -fx-text-fill: #2E86AB;
    -fx-font-weight: bold;
}

.MilitaryBomberPlane {
    -fx-text-fill: #EC9A29;
    -fx-font-weight: bold;
}

#newEventLabel {
    -fx-text-fill: #DB504A;
}
